* {
    margin: 0;
    padding: 0;
}

@mixin center {
    padding: 3px 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    font-family: sans-serif;
    border: 1px solid #cccccc;
    border-collapse: collapse;
}

table {
    margin: 30px auto;
    border: 1px solid #cccccc;
    border-collapse: collapse;
    th {
        background: #00ccff;
        color: #ffffff;
        @include center();
    }
    td {
        @include center();
    }
    .delete {
        color: #fd0000;
    }
}

