* {
  margin: 0;
  padding: 0; }

body {
  background: #d8aa96; }

.clear-fix {
  clear: both; }

.container {
  width: 640px;
  height: 450px;
  margin: 50px auto;
  display: flex; }
  .container .content-left {
    flex: 1;
    background: #807182; }
    .container .content-left .top {
      margin: 25px 20px; }
      .container .content-left .top img {
        float: left;
        width: 40px;
        height: 40px; }
      .container .content-left .top h3 {
        float: left;
        margin-left: 5px;
        padding: 7px; }
    .container .content-left .bottom {
      margin-top: 180px; }
      .container .content-left .bottom img {
        width: 150px;
        margin-left: 30px;
        margin-top: 55px; }
  .container .content-right {
    flex: 2;
    background: #fac7c2; }
    .container .content-right h2 {
      margin: 20px 25px 15px 25px; }
    .container .content-right .row {
      margin-top: 12px;
      margin-left: 25px; }
      .container .content-right .row div:nth-child(1) {
        float: left; }
      .container .content-right .row div:nth-child(2) {
        float: left; }
      .container .content-right .row input {
        width: 170px;
        height: 35px;
        margin-top: 3px;
        border: 1px solid #e5e5e5;
        border-radius: 3px; }
      .container .content-right .row .image {
        margin-left: 30px; }
        .container .content-right .row .image img {
          float: left;
          position: absolute; }
        .container .content-right .row .image input {
          position: absolute;
          opacity: 0; }
        .container .content-right .row .image p {
          margin-left: 40px;
          float: left;
          position: absolute;
          padding: 12px; }
      .container .content-right .row .gender div, .container .content-right .row .son div {
        height: 35px;
        background: #ffffff;
        border: 1px solid #e5e5e5;
        border-radius: 3px;
        margin-top: 3px;
        width: 170px; }
      .container .content-right .row .gender input, .container .content-right .row .son input {
        display: none; }
      .container .content-right .row .gender label, .container .content-right .row .son label {
        display: inline-block;
        width: 66px;
        padding: 4px;
        text-align: center;
        margin: 3px 2px 0px 5px; }
      .container .content-right .row .gender input:checked + label, .container .content-right .row .son input:checked + label {
        border: 1px solid #de9f99;
        background-color: #f7b1ab;
        border-radius: 3px; }
      .container .content-right .row .weight {
        height: 35px;
        background: #ffffff;
        border: 1px solid #e5e5e5;
        border-radius: 3px;
        margin-top: 3px;
        width: 370px; }
        .container .content-right .row .weight input {
          display: none; }
        .container .content-right .row .weight label {
          display: inline-block;
          text-align: center;
          margin: 3px 7px 0px 6px;
          width: 68px;
          padding: 4px; }
        .container .content-right .row .weight input:checked + label {
          border: 1px solid #de9f99;
          background-color: #f7b1ab;
          border-radius: 3px; }
    .container .content-right .footer {
      height: 56px;
      background-color: #ffffff;
      margin-top: 36px; }
      .container .content-right .footer input {
        display: none; }
      .container .content-right .footer label {
        display: inline-block;
        width: 75px;
        text-align: center;
        margin: 8px 89px 0px 25px;
        padding: 10px;
        border: 1px solid #dddddd;
        border-radius: 35%; }
      .container .content-right .footer input:checked + label {
        border: 1px solid #eeeeee;
        background-color: #807182;
        border-radius: 50px; }
