* {
    margin: 0;
    padding: 0;
}
body {
    background: #d8aa96;
}
.clear-fix {
    clear: both;
}
.container {
    width: 640px;
    height: 450px;
    margin: 50px auto;
    display: flex;
}
/* content left */
.content-left {
    flex: 1;
    background: #807182;
}
.top {
    margin: 25px 20px;
}
.bottom {
    margin-top: 180px;
}
.top img {
    float: left;
    width: 40px;
    height: 40px;
}
.top h3 {
    float: left;
    margin-left: 5px;
    padding: 7px;
}
.bottom img {
    width: 150px;
    margin-left: 30px;
    margin-top: 55px;
}

/* content right */
.content-right {
    flex: 2;
    background: #fac7c2;
}
.content-right h2 {
    margin: 20px 25px 15px 25px;
}
.row {
    margin-top: 12px;
    margin-left: 25px;
}
.row div:nth-child(1) {
    float: left;
}
.row div:nth-child(2) {
    float: left;
}
.row input {
    width: 170px;
    height: 35px;
    margin-top: 3px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
}
.image {
    margin-left: 30px;
}
.image img {
    float: left;
    position: absolute;
}
.image input {
    position: absolute;
    opacity: 0;
}
.image p {
    margin-left: 40px;
    float: left;
    position: absolute;
    padding: 12px;
}
.gender div {
    width: 170px;
    height: 35px;
    background: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
}
.gender input {
    display: none;
}
.gender div, .son div {
    margin-top: 3px;
}
.gender label {
    display: inline-block;
    width: 66px;
    padding: 4px;
    text-align: center;
    margin: 3px 4px 0px 4px;
}
.gender input:checked + label {
    border: 1px solid #de9f99;
    background-color: #f7b1ab;
    border-radius: 3px;
    cursor: pointer;
}
.son div {
    width: 170px;
    height: 35px;
    background: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
}
.son input {
    display: none;
}
.son label {
    display: inline-block;
    width: 66px;
    padding: 4px;
    text-align: center;
    margin: 3px 4px 0px 4px;
}
.son input:checked + label {
    border: 1px solid #de9f99;
    background-color: #f7b1ab;
    border-radius: 3px;
    cursor: pointer;
}
div.weight {
    width: 370px;
    height: 35px;
    background: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    margin-top: 3px;
}
.weight input {
    display: none;
}
.weight label {
    display: inline-block;
    text-align: center;
    margin: 3px 7px 0px 6px;
    width: 68px;
    padding: 4px;
}
.weight input:checked + label {
    border: 1px solid #de9f99;
    background-color: #f7b1ab;
    border-radius: 3px;
}
/*footer*/
.footer {
    height: 56px;
    background-color: #ffffff;
    margin-top: 36px;
}
.footer input {
    padding: 10px;
    margin: 10px 30px;
    width: 85px;
    border: 1px solid #d1d1d1;
    border-radius: 30px;
    cursor: pointer;
}
.footer input:nth-child(1) {
    float: left;
}
.footer input:nth-child(2) {
    float: right;
    background-color: #807182;
}
.footer input:checked {
    background-color: #807182;
}