* {
  margin: 0;
  padding: 0; }

.content-top {
  background-color: white;
  width: 800px;
  margin: 10px auto;
  display: flex; }
  .content-top .box-1 {
    justify-content: center;
    align-items: center;
    background: #cccccc;
    display: flex;
    opacity: 0.6;
    flex: 2;
    height: 230px;
    margin-right: 13px; }
  .content-top .para-1 {
    flex: 1;
    padding: 6px; }
    .content-top .para-1 h3 {
      margin: 10px 0;
      font-weight: bold; }
    .content-top .para-1 #author {
      color: #808080;
      margin-top: 8px; }

.content-bot {
  width: 800px;
  margin: 16px auto;
  display: flex; }
  .content-bot .container {
    flex: 1;
    margin-right: 16px; }
    .content-bot .container .box-2 {
      justify-content: center;
      align-items: center;
      background: #cccccc;
      display: flex;
      opacity: 0.6;
      height: 130px;
      text-align: center; }
    .content-bot .container .para-2 h3 {
      margin: 10px 0;
      font-weight: bold; }
    .content-bot .container .para-2 #author {
      color: #808080;
      margin-top: 8px; }
