.container {
  width: 600px;
  height: 550px;
  background: #eeeeee;
  margin-left: auto;
  margin-right: auto; }

h1 {
  padding-top: 15px;
  margin-left: 25px;
  color: #5a6b7b; }

table {
  background-color: #33495d;
  border-radius: 5px;
  margin-left: 25px; }
  table th {
    padding: 15px;
    color: #bfc256;
    text-align: left; }
  table td {
    padding: 15px;
    color: #c4cad0; }
